body {
    background-color: #404040;
}

ul {
    list-style-type: none;;
    margin: 0;
    padding: 0;
}

p {
    margin: 4px;
}

input {
    width: 50%;
}

button {
    background-color: gray;
}

canvas {
    margin: 0;
    padding: 0;
}

#overlay {
    position: absolute;
    background-color: lightgray;
    z-index: 1;
    width: 75%;
    right: 0;
    display: none;
}

.list-item-div {
    width: auto;
    margin: 4px;
    padding: 4px;
    border-style: solid;
    border-color: black;
}

.quarter-column {
    float: left;
    width: 25%;
}

.delete {
    float: right;
}

.row {
    height: 80px;
}

.content {
    padding: 0;
    height: 200px;
    display: none;
    overflow: hidden;
}