:root {
    --background: #351f10;
    --bar-graph-color: #654935;
    --border: white;
    --text-flash: white;
}

body {
    background-color: var(--background);
}

ul {
    list-style-type: none;;
    margin: 0;
    padding: 0;
}

p {
    font-family: monospace;
    color: var(--bar-graph-color);
}

input {
    width: 50%;
}

button {
    background-color: var(--bar-graph-color);
    border: none;
}

canvas {
    margin: 0;
    padding: 0;
}

table {
    float: right;
    width: 100px;
    font-family: monospace;
}

@keyframes test {
    from { color: var(--text-flash); }
    to { color: var(--bar-graph-color); }
}

#overlay {
    position: absolute;
    background-color: var(--bar-graph-color);
    z-index: 1;
    width: 75%;
    right: 0;
    display: none;
}

.list-item-div {
    width: auto;
    margin: 4px;
    padding: 4px;
    border-style: solid;
    border-color: var(--border);
}

.quarter-column {
    float: left;
    width: 25%;
}

.roll-button {
    float: left;
    height: 100%;
    width: 25%;
}

.button-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 32px;
}

.roll-display {
    float: left;
    height: 100%;
    margin: 2px;
    margin-left: 20px;
    text-align: center;
    font-size: 64px;
    animation: test 400ms;
}

.show-stats {
    width: 100%;
    height: 20px;
    background-color: var(--background);
    border: none;
}

.content {
    display: none;
    overflow: hidden;
}